.create-email {

    color: #fff !important;
    background: #4f504ffc;

    &:hover{
        color: #fff;
        background: #7d7d7dfc;
    }
    
}


.mail-text-area{
    position: fixed;
    width:500px;
    height: inherit;
    bottom: 0;
    padding: 6px 12px;
    right: 70px;
    z-index: 3;
    @media(max-width: 900px) {
        position: relative;
        width: 100%;
        right: 0;
    }
}

.mail-text-area-controls{
    background:#404040;
}

a.btn {
    font-size:.75em;
    color:#fff;
    &:focus,&:active{
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }
}
.create-email,.btn-send {
    &:focus,&:active{
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }
}
.br-btm {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: .85em;
    color: #ccc;
    &:focus,&:active{
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }
}
.received-message{
    flex-direction: row;
    
    
}

.inbox-1{
    width: 100%;
    padding:{
        top: 5px;
        bottom: 5px;
    }
    
    height: inherit;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    
    &:hover{
        box-shadow: 0 6px 4px -3px #706a6a;
        background:#FFFFFF;
        color: #000;
        .right-control{
            display: flex;
        }
    } 
    .left-control{
        padding:{
            left: 15px;
            right: 5px;
            };
        // width: ;
        display: flex;
    
    }
}
.checkmark {
    visibility: hidden;
    height: 6px;
    position: absolute;
    width: 10px;
    left: 2px;
    border-left: 1px solid rgb(204, 56, 56);
    border-bottom: 1px solid rgb(204, 56, 56);
    content: "";
    transform: rotateZ(-40deg);
}
.checkbox{
    // visibility: hidden;
    display: none;
    left: -999px;

     &:checked + .checkmark {
        visibility: visible;
     }
}

.check-container {
    position: absolute;
    align-self: center;
    
    display: flex;
    border: 1px solid #ccc;
    background: #ffffff;
    
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    align-items: center;
}

.mail-message{
    margin-left: 15px;
    height: 30px;
    overflow-y: hidden;
    line-height: 32px;

}

.right-control {
    position: absolute;
    min-width: 50px;
    display: none;
    background: #F8F9FC;
    height: 30px;
    right: calc(3rem + 2px);
    color:#000;
    &:hover{
        display: flex;
    }
    & a {
        font-size: 25px !important;
        font-weight: bolder !important;
    }
}
.inbox-wrapper{
    display: flex;
    height: 30px;
}

.mail-attachments {
    display: flex;
    height: auto;
    justify-content: flex-end;
    .attachment-wrapper{
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        min-width: 100px;
        height: inherit;
        padding: {
            top: 10px;
            bottom: 10px;
            right: 10px;
        }
        .btn-attachment{
            padding: 5px 10px;
            border: 1px solid #ABC3E3;
            border-radius: 20px;
            color: #5f6368;
            font-weight: 700;
            text-decoration: none;
            &:hover,&:active,&:focus{
                text-decoration: none;
                color: #5f6368;
                
            }
        }
    }
}

.top-controls{
    width: 100%;
    height: 30px;
}

/**
    Open-message Area
*/

.open-message{
    background: #fff;
    display: flex;
    padding: 15px 6px;
    flex-direction: column;
}

.messenger-email-address{
    font-size: .7rem;
}

.time-stamp {
    padding-right: .75rem;
    font-size: .75rem;
}

.bg-sidebar {
  background: url("/images/sidebar2.jpg");
  background-position: center;
  background-size: cover;
}

.bg-main{
  background: url("/images/sidebar.jpg");
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url("https://source.unsplash.com/oWTW-jNGl9I/600x800");
  background-position: center;
  background-size: cover;
}

ul#accordionSidebar::before{
    content: "";
    height: 100%;
    width: inherit;
    position: absolute;
    background: #000;
    opacity: .5;
    color: #fff;
}

.pagination-links{
    display: flex;
    justify-content: flex-end;
}