.sign-in-form {
  max-width: 450px;
  margin: 8% auto;
  padding: 30px;

  *{
    font-family: Poppins, sans-serif;
  }

  .card,.form-control,.custom-control-label::before {
    
    background-color: #fff;
    
    
}
  .btn-primary{
    color: #fff;
  }

  .btn-primary.btn-floating {
    box-shadow: 0 5px 10px rgba(57, 154, 242, .4)!important;
}
  input{
    box-shadow: none !important;
  
  }
}