.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .app-btn{
        color: #ffffff;
        border-color: #ffffff;
        font-weight: 600;
        font-size: 16px;

    }
  }

.kodeklinik-box{
    height: 500px;
    width: 436px;
    background: rgba(66, 125, 248, 0.8);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 24%;
    left: 30px;
    padding: 15px 30px;
    @media(max-width:720px) {
        display: none;
        
    }
    .content{
        width: 100%;
        padding: 20px 0;
        height: 100%;
        // background: #fff;
        p.h2{
            color: #ffffff;
            position: absolute;
            margin: 0 auto;
            font-family: "Open Sans",sans-serif;

        }
    }
    

}

.scroller{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    height: 60px;
    width: 60px;
    padding: 5px;

    //box-sizing: border-box;
    border-radius: 50%;
    
}