.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    @media(max-width:720px) {
        background: #ffffff;
        min-height: 200px;
        color: #000;
        
    }
    .app-btn{
        color: #ffffff;
        border-color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        filter:blur(0) !important;

    }
    .align-items-center{
        filter:blur(0) !important;
    }
  }



.scroller{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    height: 60px;
    width: 60px;
    padding: 5px;

    //box-sizing: border-box;
    border-radius: 50%;
    
}

button.submit {
     // set the background color
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
  // background color masked along the text and clip away the rest
  -webkit-background-clip: text;
  background-clip: text;
  // make fill color to transparent so that masked background color will be shown
  -webkit-text-fill-color: transparent;
}

.play-btn   {

    position: absolute;
    left: 40px;
    bottom: -10px;
    padding: 10px;
    background: transparent;
    color: #73161687;
    border: none;
    &:active,&:focus    {
        border:none;
        border-color:transparent
    }
}

.play-icon {
    
    font-size: 3.4em;
}