ul{
    list-style: none;
    
    li{
        padding-left: 1.2rem;
        display: inline-block;
        padding-right: 20px;
        position: relative;
        
        
        a{
            text-decoration: none;
            color: $grey;
        }
        
        ul.dropdown{
            position: absolute;
            display: none;
            flex-direction: column;
            flex-grow: 1;
            padding: 15px;
            background: #ffffff;
            border-radius:0 5px;
            width: 200px;
            right: 272px;
            box-shadow: 0 0 8px #ccc;
            li{
                padding: 5px 10px;
                width: 
                a{
                    width: 100%;
                    padding: 0;
                    height: 42px;
                    line-height: 42px;
                }
            }
        }
    }
}

.phone-nav{
    font-size: 24px;
    display: none;
    @media(max-width:720px) {
        display: block;
        right: 0;
        position: absolute;
    }

    & + .app-nav{
        width:80px;
        height:300px;
        background:#f1f1f1;
        right :5px;
    }
    
}

.navbar-brand{
    color: $grey;
}

.app-header{
    background: #ffffff;
    min-height: 80px;
    box-shadow: 0 8px 6px -10px $grey2;
    position: sticky;
}

.app-nav{
    position: absolute;
    right: 0;
    height: 100%;
    .nav-link{
        height: 100%;
        padding-bottom: 0;
        padding-top: 0;
    }
    @media(max-width:720px) {
    display: none;
    }
}
.app-btn{
    border: 1px solid #BCA857;
    border-radius: 18px;
    
}
.nav-link:hover{
    //background:#313131;
    
}

.nav-line-height.nav-link{
    &:after{
        transition: all .9s;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 5px;
        background: red;
        transform: translateX(-50%);
    }
    &:hover,&.active{
        &:after{
            transition: all .9s;
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 95%;
            height: 5px;
            background: red;
            transform: translateX(-50%);
        }
    }
    

    
}

.nav-item{
    padding: 0 10px; 
    
}

a{
    cursor: pointer;
}
.columns2{
    right: -100%;
    top: 100%;
    display: none;
    flex-direction: row;
    position: absolute;
    width: 420px;
    min-width: 300px;
    cursor: pointer;
    height: inherit;
    min-height: 150px;
    padding: 15px 0;
    border-bottom: 1px solid #59585757;
    background-color: #FFFFFF;
    z-index: 899999988;
    &:hover{
        display: flex;
    }
     .sub-menu-item{
         min-width: 150px;
        flex: 1;
        &:not(:last-of-type){
            border-right: 1px solid #5958571c;
        }
        .sub-menu li{
            padding: 0;
            a{
                color: #272524;
                
            }
            display: block;
        }
    }

    
}

// .dev-has-dropdown:hover + .columns2{
//     display: flex;
//     transition: 3s ease-in-out;
// }

.sub-menu .nav-link{
    padding: 5px 20px;
    
}

.phone-navigation{
    background: #5a5555;
    width:inherit;
    max-width: 80vw;
    position: absolute;
    right: 0;
    z-index: 99999;
}