// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* Color Theme Swatches in Hex */
$Vittano-1-hex: #F24495;
$brown: #401E2E;
$pink: #F249A6;
$white: #D8E0F2;
$grey2: #BFBBBA;

/* Color Theme Swatches in Hex */
$Web-design: #F2E529;
$black: #262524;
$grey: #595857;
$Web-design: #D9AB73;
$Web-design: #F2F2F2;