* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.heading {
  text-transform: uppercase;
}

/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

.top-header-area {
  background-color: #262524;
  flex-direction: row;
  color: #ffffff;
  height: 60px;
}

.top-header-area .col-5 {
  padding-left: 0;
}

@media (max-width: 720px) {
  .top-header-area {
    display: none !important;
  }
}

.service-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0;
  background-color: #fff;
}

.service-section p {
  margin-bottom: 15px;
}

.service-section .container .row:not(:first-of-type) {
  margin-bottom: 80px;
}

.service-section .single-service {
  height: 200px;
  transition: 0.4s ease-in;
}

@media (max-width: 720px) {
  .service-section .single-service {
    margin-bottom: 10px;
  }
}

.service-section .single-service .figure {
  height: 100%;
  margin-bottom: 0 !important;
  width: inherit;
}

.service-section .single-service .figure-img {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.service-section .single-service .overlay {
  position: relative;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000b5;
}

.service-section .single-service .overlay .service-title {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #f03b62;
  border-radius: 0;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.service-section .single-service .overlay:hover,
.service-section .single-service .overlay:focus {
  box-shadow: 0 0 15px #858080;
  transition: 0.3s ease-in-out;
}

.service-section .single-service .overlay:hover .service-title,
.service-section .single-service .overlay:focus .service-title {
  border-radius: 5px;
}

.service-section .single-service .overlay:hover .service-title:hover,
.service-section .single-service .overlay:focus .service-title:hover {
  border-radius: 5px;
}

.portflio_background {
  margin-top: 10px;
}

.portflio {
  position: relative;
  min-height: 100vh;
  /* ACCORDIANS */
}

.portflio .container img {
  height: 200px;
  width: 200px;
}

.portflio .line-progress {
  position: relative;
  padding-bottom: 25px;
}

.portflio .line-progress .progressbar-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #777 !important;
}

.portflio .line-progress .progress-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #777;
}

.portflio .panel-area .panel-title {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  color: #fff;
  border-radius: 3px;
  background: #FFAD01;
  color: #fff;
}

.portflio .panel-area .panel-desc {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.05s, opacity 0.25s 0.1s, transform 0.1s;
  transform: scaleY(0);
  transform-origin: top;
}

.portflio .panel-area .panel-title .icon {
  float: right;
  font-size: 0.7em;
  margin-top: 5px;
}

.portflio .panel-area .panel-title.active {
  background: #28023D;
}

.portflio .panel-area .panel-title.active + .panel-desc {
  opacity: 1;
  padding: 20px 20px 0;
  max-height: 300px;
  transform: scaleY(1);
}

.portflio .panel-area .panel-title .icon.plus,
.portflio .panel-area .panel-title.active .icon.minus {
  display: block;
}

.portflio .panel-area .panel-title .icon.minus,
.portflio .panel-area .panel-title.active .icon.plus {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.heading {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

ul li {
  padding-left: 1.2rem;
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: #595857;
}

ul li ul.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  background: #ffffff;
  border-radius: 0 5px;
  width: 200px;
  right: 272px;
  box-shadow: 0 0 8px #ccc;
}

ul li ul.dropdown li {
  padding: 5px 10px;
  width: a;
  width-width: 100%;
  width-padding: 0;
  width-height: 42px;
  width-line-height: 42px;
}

.phone-nav {
  font-size: 24px;
  display: none;
}

@media (max-width: 720px) {
  .phone-nav {
    display: block;
    right: 0;
    position: absolute;
  }
}

.phone-nav + .app-nav {
  width: 80px;
  height: 300px;
  background: #f1f1f1;
  right: 5px;
}

.navbar-brand {
  color: #595857;
}

.app-header {
  background: #ffffff;
  min-height: 80px;
  box-shadow: 0 8px 6px -10px #BFBBBA;
  position: -webkit-sticky;
  position: sticky;
}

.app-nav {
  position: absolute;
  right: 0;
  height: 100%;
}

.app-nav .nav-link {
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;
}

@media (max-width: 720px) {
  .app-nav {
    display: none;
  }
}

.app-btn {
  border: 1px solid #BCA857;
  border-radius: 18px;
}

.nav-line-height.nav-link:after {
  transition: all 0.9s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  background: red;
  transform: translateX(-50%);
}

.nav-line-height.nav-link:hover:after,
.nav-line-height.nav-link.active:after {
  transition: all 0.9s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 95%;
  height: 5px;
  background: red;
  transform: translateX(-50%);
}

.nav-item {
  padding: 0 10px;
}

a {
  cursor: pointer;
}

.columns2 {
  right: -100%;
  top: 100%;
  display: none;
  flex-direction: row;
  position: absolute;
  width: 420px;
  min-width: 300px;
  cursor: pointer;
  height: inherit;
  min-height: 150px;
  padding: 15px 0;
  border-bottom: 1px solid #59585757;
  background-color: #FFFFFF;
  z-index: 899999988;
}

.columns2:hover {
  display: flex;
}

.columns2 .sub-menu-item {
  min-width: 150px;
  flex: 1;
}

.columns2 .sub-menu-item:not(:last-of-type) {
  border-right: 1px solid #5958571c;
}

.columns2 .sub-menu-item .sub-menu li {
  padding: 0;
  display: block;
}

.columns2 .sub-menu-item .sub-menu li a {
  color: #272524;
}

.dev-has-dropdown:hover + .columns2 {
  display: flex;
  transition: 3s ease-in-out;
}

.sub-menu .nav-link {
  padding: 5px 20px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://source.unsplash.com/WEQbe2jBg40/600x1200");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.masthead {
  height: 50vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

@media (max-width: 720px) {
  .masthead {
    background: #ffffff;
    min-height: 200px;
    color: #000;
  }
}

.masthead .app-btn {
  color: #ffffff;
  border-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
}

.masthead .align-items-center {
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
}

.scroller {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #ccc;
  color: #000;
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}

button.submit {
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-btn {
  position: absolute;
  left: 40px;
  bottom: -10px;
  padding: 10px;
  background: transparent;
  color: #73161687;
  border: none;
}

.play-btn:active,
.play-btn:focus {
  border: none;
  border-color: transparent;
}

.play-icon {
  font-size: 3.4em;
}

