/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

html,
body {
  margin: 0;
  padding: 0;
}

.top-header-area {
  background-color: #262524;
  flex-direction: row;
  color: #ffffff;
}

.top-header-area .col-5 {
  padding-left: 0;
}

@media (max-width: 720px) {
  .top-header-area {
    display: none !important;
  }
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

ul li {
  padding-left: 1.2rem;
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

@media (max-width: 720px) {
  ul li {
    display: none;
  }
}

ul li a {
  text-decoration: none;
  color: #595857;
}

ul li ul.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  background: #ffffff;
  border-radius: 0 5px;
  width: 200px;
  right: 272px;
  box-shadow: 0 0 8px #ccc;
}

ul li ul.dropdown li {
  padding: 5px 10px;
  width: a;
  width-width: 100%;
  width-padding: 0;
  width-height: 42px;
  width-line-height: 42px;
}

.phone-nav {
  font-size: 24px;
  display: none;
}

@media (max-width: 720px) {
  .phone-nav {
    display: block;
    right: 0;
    position: absolute;
  }
}

.navbar-brand {
  color: #595857;
}

.app-header {
  background: #ffffff;
  min-height: 80px;
  box-shadow: 0 8px 6px -10px #BFBBBA;
}

.app-nav {
  position: absolute;
  right: 0;
}

.app-btn {
  border: 1px solid #BCA857;
  border-radius: 18px;
}

.nav-item {
  padding: 0 10px;
}

a {
  cursor: pointer;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://source.unsplash.com/BtbjCFUvBXs/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0;
  background-color: #fff;
  border-bottom: 1px solid #e4e2e2;
  margin-bottom: 40px;
}

.service-section p {
  margin-bottom: 15px;
}

.service-section .single-service {
  height: 200px;
  transition: 0.4s ease-in;
}

@media (max-width: 720px) {
  .service-section .single-service {
    margin-bottom: 10px;
  }
}

.service-section .single-service .figure {
  height: 100%;
  margin-bottom: 0 !important;
}

.service-section .single-service .figure-img {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.service-section .single-service .overlay {
  position: relative;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000b5;
}

.service-section .single-service .overlay .service-title {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #f03b62;
  border-radius: 0;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.service-section .single-service .overlay:hover,
.service-section .single-service .overlay:focus {
  box-shadow: 0 0 15px #858080;
  transition: 0.3s ease-in-out;
}

.service-section .single-service .overlay:hover .service-title,
.service-section .single-service .overlay:focus .service-title {
  border-radius: 5px;
}

.service-section .single-service .overlay:hover .service-title:hover,
.service-section .single-service .overlay:focus .service-title:hover {
  border-radius: 5px;
}

.kodeklinik-box {
  height: 520px;
  width: 456px;
  background: rgba(66, 125, 248, 0.8);
  border: none;
  border-radius: 5px;
  position: relative;
  top: -60%;
  left: -30px;
}

